.listas {
  display: inline-block;
  place-content: center;
}

label {
  margin: 5px;
  border: 2px solid black;
  cursor: pointer;
  background-color: aqua;
}
button {
  margin: 20px;
  background-color: #0e7eef;
  cursor: pointer;
  color: white;
}
.btn {
  background-color: red;
  justify-content: right;
}