.listas {
  display: inline-block;
  place-content: center;
}

label {
  display: block;
  border: 2px solid black;
  background-color: rgb(232, 218, 218);
  cursor: pointer;
}
button {
  background-color: #0e7eef;
  cursor: pointer;
  color: white;
}
.btn {
  background-color: red;
  justify-content: right;
}